#Editor-div{
	display: flex;
	flex-direction: column;
	padding: 10px;

	row-gap: 50px;
	justify-content: space-between;
}

#CodeEditor-div, #Input-Field-Div, #Output-Field-Div{
	flex: 0 0 auto;
	width: 680px;
	position: relative;

	padding: 30px;
	border-radius: 0px 25px 25px 15px;
	background-color: rgb(2, 8, 35);
}

#Input-Field-Div, #Output-Field-Div{
	height: 400px;
}

#Input-Field, #Output-Field{
	position: absolute;
	top: 50px;
	left: 20px;

	width: 600px;
	height: 335px;

	background-color: transparent;
	border-radius: 25px;
	border: none;
	outline: none;
	resize: none;

	font-size: 25px;
	padding: 12px 30px 0px 30px;
	color: white;
}

/* Items */
#CodeEditor-div{

	font: 900;
	font-size: 25px;
	padding: 30px;
	color: white;
}

#Languages-Title{
	position: absolute;
	font-size: 25px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	top: 4px;
	right: 280px;
}

#Languages{
	position: absolute;
	top: 20px;
	right: 160px;
	height: 40px;
	width: 100px;
	background-color:white;
	color: black;
	border: none;
	border-radius: 10px;
	padding: 10px;
	font-size: 15px;
	font-weight: 600;
}

/* Run Button */

#Run{
	position: absolute;
	top: 20px;
	right: 30px;
	height: 40px;
	width: 100px;
	background: linear-gradient(to right, rgb(0, 0, 255) 0%, rgb(199, 20, 20) 100%);
	color: black;
	border: none;
	border-radius: 14px;
	padding: 7px 10px 10px 10px;
	font-size: 18px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bolder;
}

/* CodeMirror overrides */
.CodeMirror {
	width: 100%;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	background-color: blue;
	color: white;
	line-height: 1.5;
	margin-top: 50px;
	height: 600px;
	overflow-y:hidden;
}

.CodeMirror-cursor {
border-left: 2px solid #fff !important;
}

.CodeMirror.cm-s-material {
	background-color: transparent !important; 
	color: white !important; 
}

.cm-s-material .CodeMirror-gutters{
	background-color: transparent;
}

.cm-s-material .cm-variable {
	color: white;
}

pre {
	color: white;
	position: absolute;
	font-size: 20px;
}

/* Input Container*/

#Input-Txt{
	position: absolute;
	left: 30px;
	top: 0px;

	font-size: 25px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white; 
}

#TestCases{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	position: absolute;
	top: 15px;
	right: 40px;

	height: 40px;
	width: 100px;
	z-index: 1;
}

.TestCase-1, .TestCase-2{
	height: 40px;
	width: 40px;
	border-radius: 50%;

	font-weight: bold;
	font-size: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.TestCase-1 p,.TestCase-2 p{
	margin-top: 2px;
}

/* Output Container */

#Output-Txt{
	position: absolute;
	top: -5px;
	left: 30px;

	font-size: 25px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
}

#Output-Time-Txt{
	position: absolute;
	bottom: 10px;
	left: 30px;

	font-weight: bold;
	font-size: 25px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
}

#Output-Time-Txt{
	right: 0px;
}
